<div class="close-modal" ng-click="ok()">
    <div class="lr">
        <div class="rl">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
                <h2>Camel</h2>
                <hr class="star-primary">
                <img src="img/portfolio/camel.jpg" class="img-responsive img-centered" alt="">
                <p class="text-justify">
                    The tournament was won by West Germany, who claimed their third World Cup title by defeating reigning champions Argentina 1–0 in the final, a rematch of the previous final four years earlier.
                </p>
                <ul class="list-inline item-details">
                    <li>Host country: <strong>Italy<a href="http://startbootstrap.com"></a></strong>
                    </li>
                    <li>Best player: <strong>Salvatore Schillaci</strong>
                    </li>
                </ul>
                <button type="button" class="btn btn-default" ng-click="ok()"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>