<div class="close-modal" ng-click="ok()">
    <div class="lr">
        <div class="rl">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
                <h2>Gentra Indra Winata</h2>
                <hr class="star-primary">
                <img src="img/portfolio/genta.jpg" class="img-responsive img-centered" alt="">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, omnis, vitae velit ratione recusandae molestias voluptatem incidunt non quos quae harum praesentium dolorem ipsa numquam libero! Magnam, illum quis itaque.
                </p>
                <ul class="list-inline item-details">
                    <li>Host country: <strong>Italy<a href="http://startbootstrap.com"></a></strong>
                    </li>
                    <li>Best player: <strong>Salvatore Schillaci</strong>
                    </li>
                </ul>
                <button type="button" class="btn btn-default" ng-click="ok()"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>